.bootup {
  -webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    opacity: 1;
  }
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
nav {
  background: #B99095;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 0;
  z-index: 3;
  -webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
nav .nav-right {
  width: 40%;
  display: flex;
  justify-content: center;
  margin-left: 15%;
  padding: 1%;
}
nav .nav-right a {
  padding: 14px 16px;
  margin: 1%;
  text-decoration: none;
  font-size: 20px;
  color: #B5E5CF;
}
nav .nav-right a:hover {
  color: #e8ffff;
}
nav .nav-left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-left img {
  width: 20%;
  margin-right: 5%;
  padding-right: 5%;
  border-right: solid 2px #85b39e;
}
nav .nav-left .nav-search-bar {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  background: #B99095;
  color: #e8ffff;
}
nav .nav-left .nav-search-bar::placeholder {
  color: #B5E5CF;
}
nav .nav-left input:hover::-webkit-input-placeholder {
  color: #e8ffff;
}
nav .nav-left input:focus::-webkit-input-placeholder {
  color: #e8ffff;
}
body {
  background: #85b39e;
}
.landing-img {
  margin-top: 6%;
}
.landing-img h1 {
  position: absolute;
  top: 10%;
  right: 2%;
  z-index: 1;
  font-weight: bold;
  font-size: 42px;
  color: #85b39e;
}
.landing-img h1:hover {
  color: #B5E5CF;
}
.landing-img img {
  width: 100%;
}
main {
  margin-top: 4%;
  margin-left: 8%;
  margin-right: 8%;
  background-image: linear-gradient(#e88282, #ffb3b1);
  height: 1000px;
}
main .top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70%;
}
main .top-container .info-card {
  padding: 5%;
  margin: 4%;
  width: 90%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #ffb3b1;
  font-size: 36px;
  color: black;
}
