

.navdivs(){
    width: 40%;
    display: flex;
    justify-content: center;
}

.font-styles(@size,@color){
    font-size: @size;
    color: @color;

}

.flex-styles(){
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-styles(@size){
    font-size: @size;
    font-weight: bold;
}